//Partial code


//Variables

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}



body{
    background-color: white;
    font-family: helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;

}